.communities {
  background-color: #403d38;

  & .container {
    padding: 61px 20px 48px;
    background-color: #403d38;

    @include tablet {
      padding: 36px 20px 83px;
    }
  }

  &__title {
    margin: 0 0 80px;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    text-transform: uppercase;

    @include tablet {
      margin: 0 0 36px;
      font-size: 22px;
      line-height: normal;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include laptop {
      gap: 9px;
    }

    @include tablet {
      flex-wrap: wrap;
    }

    &-item {
      flex: 0 1 197px;
      max-width: 197px;
      height: 302px;

      @include tablet {
        flex: 1 1 48%;
        max-width: none;
        height: 200px;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;

    @include tablet {
      display: block;
      padding: 38px 10px;
      border-radius: 16px;
    }

    &_vk {
      background-color: #a2c5ff;
    }

    &_tg {
      background-color: #f5b300;
    }

    &_ozon {
      background-color: #4058ff;
    }

    &_feedback {
      background-color: #f16c15;
    }

    & img {
      height: 54px;
      width: auto;

      @include tablet {
        width: 100%;
        object-fit: contain;
      }
    }

    & span {
      color: #fff;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 27px;

      @include laptop {
        font-size: 16px;
        line-height: 22px;
      }

      @include tablet {
        position: absolute;
        bottom: 38px;
        left: 10px;
        right: 10px;
      }
    }
  }
}
