.month-product {
  & .container {
    padding: 60px 20px 95px;
    background-color: $yellow;

    @include tablet {
      padding: 32px 20px 50px;
    }
  }

  &__title {
    margin: 0 0 71px;
    color: #403d38;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__card {
    display: flex;
    gap: 22px;
    max-width: 1192px;
    margin: 0 auto;

    @include tablet {
      flex-direction: column;
    }
  }

  &__image {
    flex: 1 1 auto;
    height: 320px;
    margin: 0;
    padding: 0;

    @include tablet {
      flex: 1 1 100%;
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 30px;

      @include tablet {
        height: 233px;
      }
    }
  }

  &__info {
    position: relative;
    flex: 0 1 525px;
    height: 320px;
    padding: 40px 52px 24px;
    box-sizing: border-box;
    border-radius: 30px;
    background: rgba(255, 243, 221, 0.79);

    @include tablet {
      flex: 1 1 100%;
      padding: 28px 24px 20px;
    }

    &-title {
      margin: 0 0 21px;
      color: #222;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include tablet {
        margin: 0 0 11px;
        font-size: 16px;
      }
    }

    &-description {
      margin: 0;
      color: #222;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include tablet {
        margin: 0 0 67px;
        font-size: 11px;
      }
    }

    &-controls {
      position: absolute;
      left: 52px;
      right: 52px;
      bottom: 24px;
      display: flex;
      margin-top: auto;

      @include tablet {
        position: static;
      }
    }

    &-button {
      flex: 0 0 auto;
      padding: 11px 45px;
      color: $white;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background-color: #403d38;
      border: none;
      border-radius: 6px;
      transition: transform ease-in-out 0.1s;
      will-change: transform;
      cursor: pointer;

      @include tablet {
        padding: 6px 25px;
        font-size: 12px;
      }

      &:hover {
        transform: scale(1.03);
      }

      &:active {
        transform: scale(1);
      }
    }

    &-prices {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2px 16px;
      margin-left: 32px;
      
      @include tablet {
        margin-left: 24px;
      }
    }

    &-price {
      &_discount {
        color: #f16c15;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @include tablet {
          font-size: 16px;
        }
      }

      &_full {
        color: #767676;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.56px;
        text-decoration: line-through;

        @include tablet {
          font-size: 11px;
        }
      }
    }
  }
}
