.main-slider {
  & .swiper {
    &-slide {
      background-color: #0f1f2e;
    }

    &-button-prev,
    &-button-next {
      height: 64px;
      width: 64px;
      background: url(../assets/arrow.svg) no-repeat center;
      background-size: cover;

      @include laptop {
        height: 48px;
        width: 48px;
      }

      @include tablet {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &-button-prev {
      left: 50px;
      transform: rotate(180deg);

      @include laptop {
        left: 24px;
      }
    }

    &-button-next {
      right: 50px;

      @include laptop {
        right: 24px;
      }
    }

    &-pagination {
      bottom: 50px !important;

      @include tablet {
        bottom: 32px !important;
      }

      &-bullet {
        height: 15px;
        width: 15px;
        box-sizing: border-box;
        border: 1px solid $yellow;
        opacity: 1;
        background-color: rgba($color: $white, $alpha: 0.75);

        @include tablet {
          height: 11px;
          width: 11px;
        }

        &-active {
          background-color: $yellow;
        }
      }
    }
  }

  &__slide {
    position: relative;

    &-image {
      position: relative;
      margin: 0;
      padding: 0;
      height: 550px;
      width: 100%;
      overflow: hidden;

      @include mobile {
        height: 844px;
      }

      &-web,
      &-mobile {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: block;
        height: 100%;
        width: auto;
        object-fit: cover;

        @include laptop {
          left: -100px;
        }

        @include tablet {
          left: -150px;
        }

        @include mobile {
          position: static;
          height: 100%;
          width: 100%;
        }
      }

      &-web {
        display: inline;

        @include mobile {
          display: none;
        }
      }

      &-mobile {
        display: none;

        @include mobile {
          display: inline;
        }
      }
    }

    &-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px 104px;
      box-sizing: border-box;
      color: #514f4b;

      @include laptop {
        padding: 20px 64px;
      }

      @include tablet {
        padding: 20px 40px;
      }

      @include mobile {
        padding: 60px 30px 0;
        bottom: auto;
      }
    }

    &-title {
      max-width: 844px;
      margin: 0 0 34px;
      font-size: 53px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;

      @include tablet {
        margin: 0 0 24px;
        font-size: 32px;
      }

      @include mobile {
        font-size: 28px;
        text-align: center;
      }

      @include mobilesm {
        font-size: 20px;
      }
    }

    &-description {
      max-width: 340px;
      margin: 0 0 34px;
      font-size: 29px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;

      @include tablet {
        margin: 0 0 24px;
        font-size: 20px;
      }

      @include mobile {
        max-width: none;
        font-size: 16px;
        text-align: center;
      }

      @include mobilesm {
        font-size: 14px;
      }
    }

    &-link {
      display: block;
      width: fit-content;
      padding: 12px 40px;
      color: $white;
      font-size: 29px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      border-radius: 8px;
      background-color: rgba($color: $yellow, $alpha: 1);
      transition: background-color ease-in-out 0.2s;
      cursor: pointer;

      @include mobile {
        margin: 0 auto;
        padding: 8px 32px;
        font-size: 24px;
        font-weight: 600;
      }

      &:hover {
        background-color: #e5a300;
      }

      &:active {
        background-color: #ffbd17;
      }
    }
  }
}
