RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.html [NC,L]
RewriteRule ^([^.]+)$ $1.htm [NC,L]
ErrorDocument 404 https://business.stickers.one/404
ErrorDocument 403 https://business.stickers.one/404